@charset "UTF-8";

.afrodite
{
    width: 80%;
    height: 50%;
    border-radius: 10px;
    box-shadow: #DBBCCA 0 0 1.9em;
}
.galaxia
{
    background-color: rgba(0, 0, 0, 0.692);
    background-image: url(../imgsf/GalaxiasConjuntoBorra.png);
    background-blend-mode: multiply;
}
.forma
{
    border-radius: 10px;
    height: 825px;
}
.ceu
{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    background-image: url(../imgsf/ceuemconjunto2.png);
    border-radius: 30px;
    padding: 70px;
    background-blend-mode: multiply;
    box-shadow: #237bbd 0 0 1.9em;
}
.centro
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro2
{
    text-align: center;
}
.h_afro
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fec580;
    text-shadow: #fffced 0 0 0.5em;
}
.p_afro
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fec580;
}
.credito
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}