@charset "UTF-8";

.afrodite
{
    width: 80%;
    height: 50%;
    border-radius: 5px;
    box-shadow: #DBBCCA 0 0 0.9em;
    opacity: 60%;
    transition: opacity 0.9s ease;
}
.afrodite:hover
{
    opacity: 100%;
}
.h_afro
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fec580;
    text-shadow: #fffced 0 0 0.5em;
}
.p_afro
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fec580;
}