@charset "UTF-8";

.galaxia
{
    background-color: rgba(0, 0, 0, 0.753);
    background-image: url(../imgsf/GalaxiasConjuntoBorra.png);
    background-blend-mode: multiply;
}
.forma
{
    border-radius: 10px;
    height: 825px;
}
.ceu
{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    background-image: url(../imgsf/ceuemconjunto2.png);
    border-radius: 30px;
    padding: 70px;
    background-blend-mode: multiply;
    box-shadow: #237bbd 0 0 1.9em;
}
.centro
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro2
{
    text-align: center;
}
.credito
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
.botao
{
    border: none;
    background: none;
    cursor: pointer;
}
.setar
{
    width: 35px;
    height: 35px;
    background-image: url(../imgsf/ArrR.png);
    background-size: cover;
    transition: filter 0.5s ease;
}
.setal
{
    width: 35px;
    height: 35px;
    background-image: url(../imgsf/ArrL.png);
    background-size: cover;
    transition: filter 0.5s ease;
}
.setar:hover
{
    filter: brightness(80%);
}
.setal:hover
{
    filter: brightness(80%);
}
.h_all
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fcefdd;
    text-shadow: #ffffff 0 0 0.5em;
}
.p_all
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #50107a;
}
.d_all
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fcefdd;
}
.imagem
{
    width: 75%;
    height: 50%;
    border-radius: 15px;
    box-shadow: #ffffff 0 0 1.9em;
    opacity: 60%;
    transition: opacity 0.9s ease;
}
.imagem:hover
{
    opacity: 100%;
}